.kgItem{
  
  color: black;
  font-size: 1.3rem;
  color: brown;
  display: flex;
  justify-content: space-between;
}
.buttonStyle{
  color: white;
  background-color: blueviolet;
}
.buyItem{
    background-color: cadetblue;
    color: white;
}