.kgrow{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 5px;
}
.inputItem{
    width: 100%;
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: 1rem;
}
input{
    width: 100%;
}
.kgbutton{
    min-width: 80px; 
   
}
.add{
    font-size: 1.7rem;
}