.controlRow{
    margin-block: 10px;
    display: flex;
    justify-content: center;
    gap: 0.5rem
}
.constrolRow2{
     display: flex;
    justify-content: center;
    gap: 0.5rem
}
.inputNumber{
    max-width: 110px;

}